@import "tailwindcss";

@import './styles/nav-link.compenant.css';

@font-face {
    font-family: 'KumbhSans';
    src: url('../assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf') format('truetype');
    font-weight: 400, 600, 700;
    font-style: normal;
}

@theme{
  --font-sans: "KumbhSans";

  --text-base: 16px;
  --text-big: 64px;
  --text-minibig: 42px;

  --breakpoint-ssm: 375px;

  --color-white: hsl(0, 100%, 100%);
  --color-black-75: hsl(0, 0%, 0%, 0.75);

  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 94%);

  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
}

@layer components {
  .gallery-thumbnails img{
    @apply w-2/3 h-auto rounded-lg hover:cursor-pointer;
  }
  .gallery-thumbnails button{
    @apply flex justify-center items-center;
  }

  .gallery-thumbnails li:first-child button {
    @apply justify-start;
  }

  .gallery-thumbnails li:last-child button {
    @apply justify-end;
  }

  .button-quantity {
    @apply flex items-center justify-center shrink-0 w-8 h-8 hover:cursor-pointer;
  }

  .selected-img {
    @apply border-2 border-orange brightness-50;
  }

  .base-arrow {
    @apply w-16 h-16 
    hover:cursor-pointer hover:bg-pale-orange
    transition-colors ease-in-out duration-500
    flex items-center justify-center
  bg-white rounded-full shadow-md md:hidden;
  }

  .base-arrow-modal {
    @apply w-16 h-16 
    hover:cursor-pointer hover:bg-pale-orange
    transition-colors ease-in-out duration-500
    flex items-center justify-center
  bg-white rounded-full shadow-md;
  }
}

