@import "tailwindcss";

@font-face {
    font-family: 'KumbhSans';
    src: url('../assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf') format('truetype');
    font-weight: 400, 600, 700;
    font-style: normal;
}

@theme{
  --font-sans: "KumbhSans";

  --text-base: 16px;
  --text-big: 64px;
  --text-minibig: 42px;

  --breakpoint-ssm: 375px;

  --color-white: hsl(0, 100%, 100%);
  --color-black-75: hsl(0, 0%, 0%, 0.75);

  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 94%);

  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
}

@layer components {
  .accordion-body {
    @apply overflow-hidden max-h-0 opacity-0 transition-all duration-300 ease-in-out;
  }

  .accordion-body-open {
    @apply max-h-96 opacity-100 pt-6;
  }

  .h2-accordion {
    @apply font-bold text-purple-950 text-lg max-w-2/3;
  }
  .p-accordion {
    @apply text-purple-600 select-none;
  }
}

